.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #adb5bd;
}

.reminder-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reminder-box {
    background-color: rgb(206, 203, 203);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    width: 775px;
    transition: background-color 0.3s ease;
}

.reminder-box:hover {
    background-color: rgb(185, 183, 183)
}

.btn {
    margin-right: 5px;
}

h2 {
    margin: 10px;
    text-align: center;
}